@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

#mapid {
    height: 100vh;
}

.card--custom {
    left: 0;
    right: 0;
    position: fixed;
    background-color: #f6f6f6;
    z-index: 5010;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.33s linear;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    border: none;
    overflow-y: auto;
    line-height: 1.8rem;
}

@media only screen and (max-width: 768px) {
    .card--custom {
        width: 100%;
        bottom: 0;
        max-height: 60%;
    }
}

@media only screen and (min-width: 768px) {
    .card--custom {
        width: 30%;
        max-width: 350px;
        /* margin: 0 auto; */
        max-height: 80%;
        top: 100px;
        left: 10px;
        border-top-left-radius: 8px !important;
        border-top-right-radius: 8px !important;
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }

    .card-body {
        padding: 1.5rem !important;
    }
}

.card-body {
    background: url(../images/hk01watermark.png);
    background-repeat: no-repeat;
    background-position: center;
}

.card-header {
    margin-bottom: 0.25rem;
}

.close {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    cursor: pointer;
}

.card-hidden {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 0.33s, opacity 0.33s linear;
}

.card #branchStatus {
    padding: 1px 10px;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    font-weight: 300;
    display: inline-block;
    color:black;
    background: springgreen;
}

.card #branchName {
    font-size: 1.6rem;
    font-weight: 500;
    display: block;
    margin-bottom: .5rem;
}


.card .fas {
    margin-right: 15px;
}